@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

#players {
    display: block;
    width: 250px;
    height: 250px;
    resize: none;
}

table, td {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding-right: 5px;
}